.pokedex-header {
    display: flex;
    flex-direction: row;
    margin-inline: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.pokedex-grid{
    display: grid;
    margin-inline: 25px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}